﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.page-profile-pic {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
}

    .page-profile-pic input[type=file] {
        display: inline;
    }

h1 {
    border-bottom: 1px solid #eaeaea;
}

.search-item {
    font-family: Tahoma;
    line-height: 22px;
    font-size: 1em;
}

.searc-item-picture {
    padding-left: 10px;
    float: right;
    height: 64px;
    width: 64px;
}

#content-container {
    margin: 25px auto;
    height: auto;
    /*width: 400px;*/
}

#editor-container {
    height: 400px;
}

.half-col {
    width: 49%;
    float: right;
    padding-bottom: 50px;
    padding: 10px;
}

.album-name-th {
    width: 100%;
}

.album-button-edit {
    min-width: 150px;
}

.table-galleries {
    width : 100%;
}

.album-count-th {
    padding-right: 10px;
    padding-left: 10px;
}